<form action="/customer/delete" method=get>
  <h1>Create a New User</h1>
  <input type="text" placeholder="name" name="name">
  <br>

  <input type="submit" value="delete customer">

</form>

<br><center><a href="/">Back</a></center>
